:root {
  --color-background: #181818;
  --color-text-light: rgba(235, 235, 235, 0.64);
  --color-text-dark: #0d0d0d;

  --color-red: #800000;
  --color-red-dark: #600000;
  --color-red-light: #b00000;

  --color-green: #008000;
  --color-green-dark: #004000;
  --color-green-light: #00b000;

  --color-blue: #000080;
  --color-blue-dark: #000040;
  --color-blue-light: #0000b0;

  --color-black: #0d0d0d;
  --color-white: #d0d0d0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text-light);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
