@import './base.css';

/*************************/
/******  APP + BODY  *****/
/*************************/

main {
  position: relative;
}
#app {
  font-family: 'Open Sans', sans-serif;
}
#app .body {
  padding: 55px 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
    url('https://troyersdutchmarket.com/wp-content/uploads/2023/04/old-black-bamboo-background-design-as-background-min-scaled.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 94vh;
  /*max-height: calc(100vh - 45px);*/
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/*************************/
/****   FONTAWESOME   ****/
/*************************/
.fa-right-from-bracket {
  transform: rotate(180deg);
}

/*************************/
/****  ENTRY LAYOUT   ****/
/*************************/
.two-col-entry-layout {
  display: flex;
  column-gap: 60px;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
.two-col-entry-layout .right-col {
  max-width: 455px;
  width: 100%;
}
.two-col-entry-layout .left-col {
  width: 100%;
  max-width: 765px;
}
.two-col-entry-layout .col-block {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid var(--color-black);
  border-radius: 20px;
  margin-bottom: 30px;
}
.two-col-entry-layout .col-block > :first-child {
  margin-top: 0 !important;
}
.two-col-entry-layout .col-block > :last-child {
  margin-bottom: 0 !important;
}
.two-col-entry-layout .col-block .block-heading {
  color: #efefef;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2.5px solid var(--color-black);
}

#modalOverlay {
  display: none;
  z-index: 30;

  background-color: rgba(13, 13, 13, 0.75);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.message .message-heading {
  font-weight: 800;
  display: inline-block;
  margin-right: 15px;
}

#messageModal .message .message-heading {
  display: block;
  margin-right: 0;
  margin-bottom: 15px;
}
